
.swiper {
    position: relative;
    width: 580px;
    height: 362px;
    flex-shrink: 0;
}

.swiper input {
    display: none;
}

.swiper-slide {
    position: absolute;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

#slide_1:checked~.swiper-1 img,
#slide_2:checked~.swiper-2 img,
#slide_3:checked~.swiper-3 img,
#slide_4:checked~.swiper-4 img {
    opacity: 1;
}

.slider {
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
}

.slider .slide {
    width: 18px;
    height: 18px;
    margin: 4px;
    margin-top: 334px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 2px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 12px 0 rgba(17, 17, 17, 0.3);
    display: inline-flex;
    cursor: pointer;
    position: relative;
    opacity: 1;
    z-index: 99;
}

.slider .slide::before {
    content: "";
    width: 0%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(0);
}

#slide_1:checked~.slider .slide-1::before,
#slide_2:checked~.slider .slide-2::before,
#slide_3:checked~.slider .slide-3::before,
#slide_4:checked~.slider .slide-4::before {
    width: 100%;
    transform: scale(1);
}

.wrap {
    width: auto;
    height: 90vh;
    margin-left: 20px;
    margin-right: 10px;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.nav {
    width: auto;
    height: 96vh;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.pz-home {
    background: url(../images/index/原.jpg) center center / cover no-repeat;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 61.44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pz-header {
    position: absolute;
    width: 80px;
    height: 68px;
    left: 4.51rem;
    top: 0.17rem;
    font-size: 61.44px;
}

.pz-header-slot {
    transform: translateY(520px);
}

.pz-header-slot#blur.active {
    pointer-events: none;
    user-select: none;
}

#popup {
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 660px;
    height: 496px;
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
}

#popup.active {
    top: 50%;
    opacity: 1;
    z-index: 99;
    transition: 0.5s;
}

img {
    width: 100%;
    height: 100%;
}

.pz-image {
    width: 420px;
    transform: translateY(48%);
}

.pz-wrapper {
    position: absolute;
    width: 220px;
    margin-top: 500px;
}

.conductButton img {
    position: relative;
    width: 54px;
    height: 54px;
    margin-left: -100px;
    margin-top: 240px;
    cursor: pointer;
    opacity: 0.85;
}

.conductButton:hover img {
    opacity: 1;
}

.videos {
    display: none;
    width: 896px;
    height: 504px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 111;
}

#conductVideo:checked~.videos {
    display: block;
}

