.wrap {
    width: auto;
    height: 90vh;
    margin-left: 20px;
    margin-right: 10px;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.nav {
    width: auto;
    height: 96vh;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow-y: auto;
}

.city {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    color: #fff;
    line-height: 28px;
    z-index: 0;
}

.home_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_content img {
    margin: 0 auto 1.2vh;
}

.home_content img:first-child {
    width: 21.8vh;
}

.home_content img:nth-child(2) {
    width: 32.9vh;
}

.home_desc {
    width: 800px;
    text-align: center;
    font-size: 14px;
    text-shadow: 0 0 12px rgba(110, 159, 193, 0.36), 0 0 12px rgba(110, 159, 193, 0.36);
    line-height: 1;
}

.home_desc p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@keyframes wave {

    0% {
        transform: scale(0.6);
        opacity: 1;
    }

    50% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(0.6);
        opacity: 1;
    }
}

/* 向下的箭头 */
.home_tran {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 25px;
    height: 13px;
    -webkit-animation: updown 2s ease-in-out infinite;
    animation: updown 2s ease-in-out infinite;
}

/* 上下跳动 */
@keyframes updown {

    0%,
    100% {
        transform: translate(-50%, -100%);
    }

    50% {
        transform: translate(-50%, -50%);
    }
}

.city_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 19vh;
}


.city_name {
    position: relative;
    font-weight: 400;
    font-size: 4.6vh;
    line-height: 9vh;
}

.city_desc {
    width: 608px;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    line-height: 1.8;

}
